.userList__main__div {
    width: 100%;
    margin: auto;
}

.form__userList__div {
    display: none
}

.users__main__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.create__user__button__div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.create__user__button__div button {
    border: none;
    outline: none;
    padding: 12px 18px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #182747;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.create__user__button__div button:hover {
    background-color: #AAC4FF;
}

@media screen and (max-width: 550px) {
    .users__main__div {
        flex-direction: column;
    }
}