* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #D2DAFF;
  font-family: var(--font-family);
  color: #182747;;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}